body {
    margin: 0;
    background: #1e1e1e;
    color: #fff;
    font-family: Consolas, monospace;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #282828;
    border-bottom: 2px solid #444;
}

#main {
    display: flex;
    height: calc(100vh - 50px);
}

#leftPanel, #rightPanel {
    width: 50%;
    padding: 10px;
    overflow-y: scroll;
    border-right: 1px solid #444;
}

#rightPanel {
    border-right: none;
}

h1, h2 {
    margin-top: 0;
    color: #50a7f8;
}

pre {
    white-space: pre-wrap;
    background: #121212;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #333;
}
